.theme .tab .tab-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.theme .tab .tab-header .tab-item{
    border: 1px solid gainsboro;
    cursor: pointer;
}
.theme .tab .tab-header .tab-item:nth-child(1){
    /* border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; */
    text-align: center;
}
.theme .tab .tab-header .tab-item:nth-child(2){
    /* border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; */
    text-align: center;
}

.theme .tab .tab-header .tab-item.active{
    background-color: rgb(248, 139, 15) !important;
    /* padding-left: 7px; */
}
 
.theme .tab .tab-content .content-item{
    padding-left: 7px;
    height: 0;
    font-size: 15px !important;   
}
.theme .tab .tab-content .content-item *{
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
} 
.theme .tab .tab-content .content-item.active{
    display: block;
    height: max-content;
}
.theme .tab .tab-content .content-item.active *{
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}








.light-theme,
.dark-theme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.light-theme *,
.dark-theme *{
    color: rgb(41, 34, 26);
}
.switch{
    position: relative;
    display: inline-flex;
    width: 51px;
    height: 20px;
    align-items: center;
    margin: 3px auto;
    
    } 
    
.switch input{
    opacity: 0;
    visibility: 0;
    height: 0;   
 }
    
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(164, 105, 241) !important;
    transition: .4s;

}
.slider::before{
    position: absolute;
    content: "off";
    height: 20px;
    width: 28px;
    background-color: white;
    transition: 0.4s;
    text-align: center;  
} 
     
input:checked + .slider{
    background-color: #1d73b9 !important;
}

input:focus + .slider{
    box-shadow: 0 0 1px #0c5ea1 !important;
}
input:checked + .slider::before{
    transform: translateX(26px);
    content: "on";
}
.slider.round{
    border-radius: 20px;
}
.slider.round::before{
    border-radius: 20%;
}


