:root{
    /* dark colors */
    --dark-theme-bg: #18191a;
    --dark-sidebar-bg: #242526;
    --dark-border-color:#4f4e52;




    
    --sidebar-text: #7b66a0;
    --sidebar-title:rgb(201, 200, 200);


}