body.white-theme,
body.white-theme *{
    background-color: #fff;
    color: rgb(27, 27, 27);
    /* color: #b7aec7; */
}
/* sidebar  */
/* body.dark-theme .sidebar{
    background-color:#242526;
} */
body.white-theme .sidebar .sidebar-header{
    border-bottom: 1px inset #eeedee;
    /* background-color: #222225;  */
}
body.white-theme .sidebar,
body.white-theme .sidebar .sidebar-header,
body.white-theme .sidebar .sidebar-navs,
body.white-theme .sidebar .sidebar-navs .nav-group *
{
    color: rgb(56, 56, 56);
    font-weight: bolder;
}
body.white-theme .sidebar .nav-title{
    color: rgb(109, 109, 109);
} 
body.white-theme .sidebar .sidebar-navs .nav-group .nav-link.active{
    background-color: rgb(235, 233, 233);
}
body.white-theme .sidebar .sidebar-navs .nav-group .nav-link *{
    background-color: transparent;
}
body.white-theme .sidebar .sidebar-navs .nav-group .nav-link.active *{
    background-color: transparent;
    padding-left: 1px;
}
body.white-theme .sidebar .sidebar-navs .nav-group .side-icon{
    background-color: transparent;
}
body.white-theme .sidebar .sidebar-navs .nav-group .nav-item .nav-dropdown *{
    background-color: transparent;
    padding: 2px;
}
body.white-theme .sidebar .sidebar-navs .nav-group .nav-item .nav-dropdown{
    background-color: rgb(235, 233, 233);;
}
body.white-theme .sidebar .sidebar-footer{
    border-top: 1px inset #eeedee;
    /* background-color: #18191a; */
}




/* content */
/* body.white-theme .content{
    background-color: #222225 !important;
} */
/* body.white-theme .content *{
    color: #707070; 
} */


body.white-theme .content header.big-header{
    /* background-color: #3d3e3f; */
   box-shadow: 0px 2px 2px 1px gainsboro;
   /* background-color: #222225; 
   border-bottom: 1px inset #4f4e52; */
}
body.white-theme .content header.big-header button.close{
   background-color: transparent;
   border: none;
   font-size: 18px;
}
/* body.white-theme  .content header.big-header .toolbar-2 *{
   color: rgb(201, 200, 200);
} */
body.white-theme .content header.big-header .toolbar-2 .logo-box .site-name span{
    color: rgb(248, 139, 15);
}
body.white-theme .content header.big-header .toolbar-1 .search .btn-search{
    background-color: #c1c1c4; 
}
body.white-theme .content header.big-header .toolbar-1 .floating-contact-button .header-dropdown-contact,
body.white-theme .content header.big-header .toolbar-1 .floating-contact-button .header-dropdown-contact *{
    background-color: rgb(250, 249, 249);
    color: rgb(148, 43, 247);
}
body.white-theme .content header.big-header .toolbar-1 .floating-contact-button .header-dropdown-contact{
    border: 1px solid #efeff1;
    color: #363636;
}

body.white-theme .content main.main *{
    color: inherit;
}
body.white-theme .content main.main .main-section section *,
body.white-theme .content main.main .main-section section{
    background-color: rgb(250, 250, 250);
}

body.white-theme .content main.main .main-section section p,
body.white-theme .content main.main .main-section section ol,
body.white-theme .content main.main .main-section section ul{
    font-size: 15px;
    background-color: transparent;
}

body.white-theme .content main.main .main-section .about-cbt-container,
body.white-theme .content main.main .main-section .about-cbt-container *{
    /* background-color: rgb(250, 250, 250);
    background-color: transparent; */
    color: inherit;
}

body.white-theme .content main.main .main-section section.features .features-list .list-item,
body.white-theme .content main.main .main-section section.services .service-list .list-item{
    background-color: rgb(235, 233, 233);
    border: 1px solid gainsboro;
    background-color: white;
}
body.white-theme .content main.main .main-section section.features .features-list .list-item *,
body.white-theme .content main.main .main-section section.services .service-list .list-item *{
    background-color: rgb(235, 233, 233);
    background-color: white;
}
body.white-theme .content main.main .main-section section.features .features-list .list-item button.read-more,
body.white-theme .content main.main .main-section section.services .service-list .list-item button.read-more,
body.white-theme .content main.main .main-section section.features .features-list .list-item button.read-more *,
body.white-theme .content main.main .main-section section.services .service-list .list-item button.read-more *,
body.white-theme .content main.main .main-section section.about-cbt .cbt-side-box .read-more,
body.white-theme .content main.main .main-section section.about-cbt .cbt-side-box .read-more *{
    /* background-color: rgb(230, 205, 253); */
    color: blueviolet;
    transform: scale(1.02);
    font-weight: 700;
}
body.white-theme .content main.main .main-section section.features .features-list .list-item button.read-more:hover,
body.white-theme .content main.main .main-section section.services .service-list .list-item button.read-more:hover,
body.white-theme .content main.main .main-section section.features .features-list .list-item button.read-more:hover *,
body.white-theme .content main.main .main-section section.services .service-list .list-item button.read-more:hover *,
body.white-theme .content main.main .main-section section.about-cbt .cbt-side-box .read-more:hover,
body.white-theme .content main.main .main-section section.about-cbt .cbt-side-box .read-more:hover *{
    background-color: blueviolet;
    color: white;
    transform: scale(1.02);
    font-weight: 700;
}
body.white-theme .content main.main .main-section section.features .features-list .list-item button.read-more,
body.white-theme .content main.main .main-section section.services .service-list .list-item button.read-more,
body.white-theme .content main.main .main-section section.about-cbt .cbt-side-box .read-more{
    border: 1px solid #959596;
    transition: all 0.1s linear;
}

body.white-theme .content main.main .main-section section.contact-box .mail-form .form-send-mail .form-group .input-group input,
body.white-theme .content main.main .main-section section.contact-box .mail-form .form-send-mail .form-group .input-group textarea{
    background-color: rgb(238, 236, 236);
    color: inherit;
    outline: none;
    border: 1px solid gainsboro;
}
body.white-theme .content main.main .main-section section.contact-box *{
    background-color: transparent; 
}
body.white-theme .content main.main .main-section section.contact-box .mail-form .form-send-mail .button-group .clear{
    background-color: rgb(221, 214, 214);;
    padding: 5px;
    outline: none;
    border: 1px solid gainsboro;
}
body.white-theme .content main.main .main-section section.contact-box .mail-form .form-send-mail .button-group .send{
    background-color: green;
    padding: 5px;
    outline: none;
    border: 1px solid gainsboro; 
}



body.white-theme .content a,
body.white-theme .content a *,
body.white-theme .content h2,
body.white-theme .content h2 *,
body.white-theme .content h3,
body.white-theme .content h3 *,
body.white-theme .content h4,
body.white-theme .content h4 *{
    color: rgb(148, 43, 247) !important;
}

body.white-theme .content .main-footer{
    background-color: transparent;
}
body.white-theme .content .main-footer a,
body.white-theme .content .main-footer a *{
    color: blueviolet;
}
body.white-theme .content .main-footer .footer-bottom .terms-conditions *{
    color: rgb(221, 215, 215);
}
body.white-theme .content main.main .main-aside .notifications,
body.white-theme .content main.main .main-aside .cbt-courses-adds{
    border: 1px solid rgb(41, 41, 41); 
}

body.white-theme .content main.main .main-aside .overlay{
    background-color: #181818;
}
body.white-theme .content main.main .main-aside .text-group h5{
    color: white;
    font-weight: bolder;
}
body.white-theme .content main.main .main-aside .banner-adds:hover  .text-group,
body.white-theme .content main.main .main-aside .nurses-adds:hover  .text-group,
body.white-theme .content main.main .main-aside .facility-adds:hover .text-group{
    transform: scale(1.08);
    background-color: #111111;
}
body.white-theme .content main.main .main-aside .banner-adds:hover  .text-group a,
body.white-theme .content main.main .main-aside .nurses-adds:hover  .text-group a,
body.white-theme .content main.main .main-aside .facility-adds:hover .text-group a{
    background-color: white;
    border: 1px solid #181818;
    padding: 3px;
    margin-top: 10px;
}


body.white-theme .content .site-overlay{
    background-color: white;
}

body.white-theme .content .site-policies{
    border: 1px solid gainsboro;
}
body.white-theme .content .site-policies .btn-close-policy{
    background-color: #ffffff;
    /* border: 1px solid gainsboro;  */
    /* background-color: #3d3e3f; */
    border: none;
}
body.white-theme .content  .site-policies .privacy-notices .button-group button{
    border: 1px solid gainsboro;
    color: white;
    font-weight: bolder;
}
body.white-theme .content  .site-policies .privacy-notices .button-group button.cancel{
    background-color: #f370cc;
}
body.white-theme .content  .site-policies .privacy-notices .button-group button.allow{
    background-color: rgb(67, 67, 245);
}
body.white-theme .content .site-policies .blue{
    color: rgb(163, 59, 236);
}
body.white-theme .content .site-policies a{
    color: blueviolet;
}


.bg-white-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}
body.white-theme * ::-webkit-scrollbar{
    width: 6px;
    margin-bottom: 10px;
}
body.white-theme * ::-webkit-scrollbar-track{
    background-color: rgb(236, 235, 235);
}
body.white-theme * ::-webkit-scrollbar-thumb{
    background-color: rgb(182, 181, 181);
}